/*----------------------------------------------------------------------------
    Reset
----------------------------------------------------------------------------*/

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/*------------------------------------------------------------------------------
   Base
------------------------------------------------------------------------------*/

body {
  font-family: "helvetica", sans-serif;
  background-color: white;
}

/*------------------------------------------------------------------------------
   Mise en page
------------------------------------------------------------------------------*/

.wrapper {
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 30px;
}

/*------------------------------------------------------------------------------
   Modules
------------------------------------------------------------------------------*/

/* header */

header {
  padding: 20px 0;
  background-color: #eceff1;
}

/*  Boutons */

.bouton {
  color: #f44336;
  font-size: 60px;
  text-decoration: none;
  width: 100%;
  font-weight: bold;
  margin: 60px 0;
  padding: 40px 20px;

  border-radius: 20px;

  box-shadow: 5px 10px 3px 0px rgba(0, 0, 0, 0.2) ;

}

.bouton1 span:last-child {
  color: #c62828;
}

section a:hover {

box-shadow: 5px 5px 2px 0px rgba(0, 0, 0, 0.4) inset;


}

.bouton1 {
  display: flex;
  justify-content: space-between;

  background-image: linear-gradient( 160deg #c62828, #f44336) ;
  background-image: linear-gradient(45deg,#c62828 50%, #f44336 50%) ;
}

.bouton2 {
  display: flex;
  justify-content: center;


  background-image: linear-gradient(to up, #a7cedd #265488);
  /*
        #5
        Mettre un arrière-plan en dégradé de la couleur #a7cedd à la couleur #265488 du bas vers le haut.

        L'image nageur.svg doit être à 5% de la bordure gauche et à 50% du haut de la boîte.
        L'image doit mesurer 50px par 50px. (pensez à quelque chose.. -size, en lien avec l'arrière-plan)

        L'image ombrelle.svg doit être à 95% de la bordure gauche et à 50% du haut de la boîte.
        L'image doit mesurer 50px par 50px. (pensez à quelque chose.. -size, en lien avec l'arrière-plan)

        Il faut arriver au même résultat que l'image de référence.

        Référence pour l'arrière-plan multiple :
            https://developer.mozilla.org/fr/docs/Web/CSS/CSS_Backgrounds_and_Borders/Utiliser_plusieurs_arri%C3%A8re-plans
    */
}

.bouton2 span {
  color: #eee;
}

/* footer */
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  color: white;
  background: #607d8b;
}
